body {
    background-color: peachpuff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.indexDiv {
    text-align: center;

}

#indexList {
    list-style-type: none;
}

a {
    text-decoration: none;
}
a:hover {
    font-size: 1.1rem;
    color: black;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
    height: auto;
}
.imgDiv {
    display: flex;
    justify-content: center;
}